#tone1 {
    background-color: red;
    padding: 5%;
    text-align: center;
}

#tone2 {
    background-color: blue;
    padding: 5%;
    text-align: center;
}

#tone3 {
    background-color: yellow;
    padding: 5%;
    text-align: center;
}

#tone4 {
    background-color: orange;
    padding: 5%;
    text-align: center;
}